#dgtl{margin: 18px 0px 0px 0px;}
.row{max-width: 288px;}
#dgtl .dsptm{
    position: relative;
    text-align: center;
    color: #76C32E;
    font-size: 38px;
    border: 1px solid black;
    background-color: #242424;
    margin-bottom: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 15px 7px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0px 0px 15px 7px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0px 0px 15px 7px rgba(0, 0, 0, 0.35);

}

.tm-cls{ font-family: 'digital-clock-font';font-size:30px;color: #76C32E;}

.prnt-plpsebtn{background: #fff; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;}
.prnt-plpsebtn div{padding: 6px;border-right: 1px solid lightgray;}

.dsplytm{ margin-top: 15px;}
.dsplytm div{color: gray;font-size: 24px;font-family: 'digital-clock-font';text-align: left; padding-top: 6px;padding-bottom: 6px; border-bottom: 1px solid;}
.dsplytm .mousehover{display: none;}
.dsplytm div:hover>.mousehover{display: block;margin-top: 8px;font-size: 12px;float: right;background: red;color: #fff;padding-left: 4px;padding-right: 4px;border-radius: 2px;}


.bg-dsp-nm-cls{opacity: 0.2;position: absolute;color: #76C32E;}

.bg-dsp-lst-nm-cls{opacity: 0.2;position: absolute;left: 15px;}