<div id="dgtl" align="center">
  <div class="container">
    <div class="row dsptm">
      <div class="col-md-12">
        <span class="tm-cls">{{ timer.minute | displaytime }} : </span><span class="tm-cls">{{ timer.second | displaytime}} . </span><span class="tm-cls">{{ timer.milsecond | displaytime}}</span>
      </div>
      <div class="col-md-12 bg-dsp-nm-cls">
        <span class="tm-cls">88 : 88 . 88 </span>
      </div>
    </div>
    <div class="row prnt-plpsebtn">
      <div class="col-md-8 mousehover" (click)="play()" [hidden]="displayBtn.pause">
        <i class="fa fa-play" aria-hidden="true"></i> Play
      </div>
      <div class="col-md-8 mousehover" (click)="pause()" [hidden]="displayBtn.play">
        <i class="fa fa-pause" aria-hidden="true"></i> Pause
      </div>
      <div class="col-md-2" (click)="getTimeData()">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </div>
      <div class="col-md-2" (click)="clrAll()">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row dsplytm" *ngIf="timerList.length">
      <div class="col-md-12" *ngFor=" let timeLst of timerList; let i = index;">
        {{ timeLst.minute | displaytime }} : {{ timeLst.second | displaytime }} . {{ timeLst.milsecond | displaytime }} 
        <span class="bg-dsp-lst-nm-cls"> 88 : 88 . 88 </span>
        <span class="mousehover" (click)="rmTm(i)">Remove</span>
      </div>
      
    </div>
  </div>
</div>